src/main/webapp/WEB-INF/ws/EventServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://impl.service.core.spring.reshetnev.epam.com/" name="EventServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://impl.service.core.spring.reshetnev.epam.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.core.spring.reshetnev.epam.com/" schemaLocation="EventServiceImplService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getByName">
    <part name="parameters" element="tns:getByName"/>
  </message>
  <message name="getByNameResponse">
    <part name="parameters" element="tns:getByNameResponse"/>
  </message>
  <message name="update">
    <part name="parameters" element="tns:update"/>
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="save">
    <part name="parameters" element="tns:save"/>
  </message>
  <message name="saveResponse">
    <part name="parameters" element="tns:saveResponse"/>
  </message>
  <message name="getAllForDateRange">
    <part name="parameters" element="tns:getAllForDateRange"/>
  </message>
  <message name="getAllForDateRangeResponse">
    <part name="parameters" element="tns:getAllForDateRangeResponse"/>
  </message>
  <message name="getById">
    <part name="parameters" element="tns:getById"/>
  </message>
  <message name="getByIdResponse">
    <part name="parameters" element="tns:getByIdResponse"/>
  </message>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="getAllNextEvents">
    <part name="parameters" element="tns:getAllNextEvents"/>
  </message>
  <message name="getAllNextEventsResponse">
    <part name="parameters" element="tns:getAllNextEventsResponse"/>
  </message>
  <message name="assignAuditorium">
    <part name="parameters" element="tns:assignAuditorium"/>
  </message>
  <message name="assignAuditoriumResponse">
    <part name="parameters" element="tns:assignAuditoriumResponse"/>
  </message>
  <message name="saveAll">
    <part name="parameters" element="tns:saveAll"/>
  </message>
  <message name="saveAllResponse">
    <part name="parameters" element="tns:saveAllResponse"/>
  </message>
  <message name="getBookedTickets">
    <part name="parameters" element="tns:getBookedTickets"/>
  </message>
  <message name="getBookedTicketsResponse">
    <part name="parameters" element="tns:getBookedTicketsResponse"/>
  </message>
  <portType name="EventServiceImpl">
    <operation name="getByName">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getByNameRequest" message="tns:getByName"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getByNameResponse" message="tns:getByNameResponse"/>
    </operation>
    <operation name="update">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/updateRequest" message="tns:update"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/updateResponse" message="tns:updateResponse"/>
    </operation>
    <operation name="delete">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/deleteRequest" message="tns:delete"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/deleteResponse" message="tns:deleteResponse"/>
    </operation>
    <operation name="save">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/saveRequest" message="tns:save"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/saveResponse" message="tns:saveResponse"/>
    </operation>
    <operation name="getAllForDateRange">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getAllForDateRangeRequest" message="tns:getAllForDateRange"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getAllForDateRangeResponse" message="tns:getAllForDateRangeResponse"/>
    </operation>
    <operation name="getById">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getByIdRequest" message="tns:getById"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getByIdResponse" message="tns:getByIdResponse"/>
    </operation>
    <operation name="getAll">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getAllRequest" message="tns:getAll"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getAllResponse" message="tns:getAllResponse"/>
    </operation>
    <operation name="getAllNextEvents">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getAllNextEventsRequest" message="tns:getAllNextEvents"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getAllNextEventsResponse" message="tns:getAllNextEventsResponse"/>
    </operation>
    <operation name="assignAuditorium">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/assignAuditoriumRequest" message="tns:assignAuditorium"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/assignAuditoriumResponse" message="tns:assignAuditoriumResponse"/>
    </operation>
    <operation name="saveAll">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/saveAllRequest" message="tns:saveAll"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/saveAllResponse" message="tns:saveAllResponse"/>
    </operation>
    <operation name="getBookedTickets">
      <input wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getBookedTicketsRequest" message="tns:getBookedTickets"/>
      <output wsam:Action="http://impl.service.core.spring.reshetnev.epam.com/EventServiceImpl/getBookedTicketsResponse" message="tns:getBookedTicketsResponse"/>
    </operation>
  </portType>
  <binding name="EventServiceImplPortBinding" type="tns:EventServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getByName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="save">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllForDateRange">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllNextEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="assignAuditorium">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getBookedTickets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EventServiceImplService">
    <port name="EventServiceImplPort" binding="tns:EventServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

